<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur consequatur aspernatur eveniet doloribus iste vitae ullam vero omnis sit dolor.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quod sequi voluptas excepturi dolor laboriosam, quo debitis. Quas, ratione fuga.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quod eos autem minima fugit. Nulla dolor voluptatum doloribus quae excepturi.</p>

        <%- include('./partials/footer.ejs') %>
    </div>

</body>
</html>